<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoon</title>
    <link rel="stylesheet" href="/css/config-geral.css">
    <link rel="stylesheet" href="/css/autenticacao.css">
    <link rel="stylesheet" href="/css/denuncia.css">
    <script src="/js/script.js" defer></script>
</head>
<body>
    
    <!-- gambiarra? -->
    <div class="gambiarra"></div>
    
    <!-- cabeçalho -->
    <header id="header">
        
        <button class="btn-icon-header btn-hamburger" onclick="toggleSidebar()">
            <!-- ícone de hamburger do site bootstrap icons -->
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
        </button>

        <!-- logo -->
        <div class="logo-header">
            <a href="/"><h1>Zoon</h1></a>
        </div>

        <!-- menu -->
        <nav id="nav">
            
            <button class="btn-icon-header btn-x" onclick="toggleSidebar()">
                <!-- ícone x no site bootstrap icons -->
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x"
                    viewBox="0 0 16 16">
                    <path
                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </button>

            <!-- links do menu -->
            <a href="/path/denunciar" class="active">Denunciar</a>
        </nav>
    </header>



    <div class="espaco"></div>
    <main>
        <section>
            <h2>Minhas Denúncias:</h2>
            <%denuncias.forEach((denuncia) => {%>
                <div class="usuarios">
                    <div class="usuarios-anonimos">
                        <img src="/images/user-icon.png" alt="">
                        <p><strong>Usuário:</strong> <%=denuncia.email%> </p>
                    </div>
                    <p><strong>Motivo:</strong> <%=denuncia.motivo%> </p>
                    <p><strong>Relato:</strong> <%=denuncia.relato%> </p>
                    <p><strong>Data:</strong> <%=denuncia.data%> </p>
                    <p><strong>Status:</strong> <%=denuncia.status%> </p>
                    <p><strong>-</strong> <%=denuncia.status_motivo%> </p>
                </div>
            <%})%>
        </section>
    </main>



    <div class="espaco"></div>
    <!--rodapé-->
    <footer>

        <div class="contatos">

            <ul>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-mailbox2" viewBox="0 0 16 16">
                        <path
                            d="M9 8.5h2.793l.853.854A.5.5 0 0 0 13 9.5h1a.5.5 0 0 0 .5-.5V8a.5.5 0 0 0-.5-.5H9v1z" />
                        <path
                            d="M12 3H4a4 4 0 0 0-4 4v6a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V7a4 4 0 0 0-4-4zM8 7a3.99 3.99 0 0 0-1.354-3H12a3 3 0 0 1 3 3v6H8V7zm-3.415.157C4.42 7.087 4.218 7 4 7c-.218 0-.42.086-.585.157C3.164 7.264 3 7.334 3 7a1 1 0 0 1 2 0c0 .334-.164.264-.415.157z" />
                    </svg>
                    <p>zoonosesdf@gmail.com</p>
                </li>

                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-telephone-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                    </svg>
                    <p>(61) 2017-1342</p>
                </li>

                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                    </svg>
                    <p>SAIN, lote 4, Asa Norte</p>
                </li>

                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                    </svg>
                    <p>dias úteis das 08h às 17h</p>
                </li>
            </ul>

        </div>
        
        <div class="titulo-final">
            <h1>Zoon</h1>
            <p>Copyright &copy; 2023</p>
        </div>
        
    </footer>



    <!-- acessibilidade -->
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
          <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>



</body>
</html>